[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SparseMSE"]
	path = SparseMSE
	url = https://github.com/cran/SparseMSE
	shallow = true
	registered = true
